
<div ng-include="'templates/navbar.html'"></div>

<div class="container" ng-controller="AdsController">
    <div class="bs-component col-lg-9">
        <div class="well row" ng-repeat="ad in userAds.ads">
            <div class="col-lg-9">
                <h1>{{ad.title}}</h1>
                <p class="lead">{{ad.text}}</p>
                <div class="row">
                    <div class="col-md-4 btn-group-vertical">
                        <a href="#" class="btn btn-default disabled">Status</a>
                    </div>
                    <div class="col-md-8 btn-group-vertical">
                        <a href="#" class="btn btn-default disabled">{{ad.status}}</a>
                    </div>
                </div>
                <br/>
                <div class="row" ng-if="ad.status != 'Inactive'">
                    <div class="col-md-4 btn-group-vertical">
                        <a href="" class="btn btn-info" ng-click="deactivateAd(ad.id)">Deactivate</a>
                    </div>
                </div>
                <div class="row" ng-if="ad.status == 'Inactive'">
                    <div class="col-md-4 btn-group-vertical">
                        <a href="" class="btn btn-default" ng-click="">Edit</a>
                    </div>
                    <div class="col-md-4 btn-group-vertical">
                        <a href="" class="btn btn-primary" ng-click="republishAd(ad.id)">Publish Again</a>
                    </div>
                    <div class="col-md-4 btn-group-vertical">
                        <a href="" class="btn btn-danger" ng-click="deleteAd(ad.id)">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <p class="pull-right">{{ad.date | date: "dd MMMM yyyy"}}</p>
                </div>
                <div class="row">
                    <div class="bs-component pull-right">
                        <span class="label label-success">{{ad.categoryName}}</span>
                        <span class="label label-warning">{{ad.townName}}</span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <img src="" class="pull-right img-responsive img-thumbnail" ng-src="{{ad.imageDataUrl || '/resources/9gag-no.jpg'}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="bs-component col-lg-3 aside">
        <div class="row">
            <div class="btn-group-vertical col-lg-12">
                <a href="" class="btn btn-info btn-lg disabled">Status Filter</a>
                <a href="" class="btn btn-default" ng-click="statusFilter()">All</a>
                <a href="" class="btn btn-default" ng-click="statusFilter('Published')">Published</a>
                <a href="" class="btn btn-default" ng-click="statusFilter('WaitingApproval')">Waiting Approval</a>
                <a href="" class="btn btn-default" ng-click="statusFilter('Inactive')">Inactive</a>
                <a href="" class="btn btn-default" ng-click="statusFilter('Rejected')">Rejected</a>
            </div>
        </div>
    </div>
</div>